<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MultiTest">
        <activity
            android:name=".surfaceview.ActivitySurfaceViewChoreographer"
            android:exported="false" />
        <activity
            android:name=".wallpaper.ActivityWallpaper"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".surfaceview.ActivitySurfaceView"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".egl.ActivityEGL"
            android:exported="false" />
        <activity
            android:name=".textureview.ActivityTextureview"
            android:exported="false" />
        <activity
            android:name=".teximage2d.ActivityTexImage2DOnScreen"
            android:exported="false" />
        <activity
            android:name=".ActivityTexImage2D"
            android:exported="false" />
        <activity
            android:name=".cube3d.Cube3DActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 动态壁纸服务 -->
        <service
            android:name=".wallpaper.WallpaperService"
            android:exported="true"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper_info" />
        </service>
    </application>

</manifest>